.home{
    margin-bottom:52px;
    margin-top:44px;
}
.home-swiper__item__title{
    position: absolute;
    left:0;
    bottom:0;
    background: rgba(0,0,0,.5);
    width:100%;
    color:#fff
}
.carousel{
    overflow:hidden;
    width:100%;
    height:200px;
}
.carousel img{
    height:200px;
}

.aui-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 15px;
    position: relative;
}

.aui-flex-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    font-size: 14px;
    color: #333;
}

.aui-flex-one .aui-flex-box {
    color: #31a655;
    font-size: 0.8rem;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: justify;
}

.icon-in {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAIAAABuYg/PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTQ1IDc5LjE2MzQ5OSwgMjAxOC8wOC8xMy0xNjo0MDoyMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTkgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MDVCQ0ZFNDJCMkY1MTFFOUFDMERDRkFFMDU2QTgxODAiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MDVCQ0ZFNDNCMkY1MTFFOUFDMERDRkFFMDU2QTgxODAiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo1RTQ2QjRGNUIyRjMxMUU5QUMwRENGQUUwNTZBODE4MCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo1RTQ2QjRGNkIyRjMxMUU5QUMwRENGQUUwNTZBODE4MCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pkm3jEcAAAkeSURBVHjavFdpbFTXFb7be7N4xjMee+zx2A7GEIwBpybG7GBSIFWbpq1UhSpb8wOQmh9I/ZX+rfqnUlWpUmnSJSpSmzZNmkYJbUJACGgIbuIYwmLAJjZjXO8e78vMvOXe23Pe2LFJaaOoasaSPX7v3nvO+c453/kuVUqRL+rDyBf4+Z+Mafr51ovPbUHpBRuM5u1R/X8zpuGTt6QXjKA5cIB+dpiwSSm96COl+Jso9J/gdzhF4al04YvWknN4LnEL7KOcoEmK0Sncuhg9HCX/LWgBzxkjWoFj8EaCEU04/DOr5+eVwtVcLbifj4toQbif+IKaayUVB3OwHLdAXTPmRcmZ1IrR/KaliCnEpbXLmMBFGjYoxciMnHu+9bWO0ZQwFGxwlTIoR0+VZtr284Km6sav1jaXGxHmEs3xPK24hmqjmnkIIGQYr14eHEQGzznAoxBF8IYzJi072z3xz35rlNgWJgMdJjbCSwxiO8Jov9qXpeTA+v1hHlTUZYAGIyaBWCEicJkyDY7BckkA6U8ik9pFtIn6pBNgmSR6yJ5KZyYocVydY+AHMV0GgDJB3ZbRm29ce8cvgg3J2pARUtIq4MHyaEVTYkO1L27CIYgWw+yAh9RYMoZnSYMg1hLAXKxsBAb/gJfMSxg6o3AVYReynT8+fXTYnZE5KYjwM0Ud5WhVU1zznQcfaS7fGJIBCI17GGq2FJmgRECJQOZyXHWOd89lppnBHCJhseDEkbYkXEqajBTXhMoCyoREAFgARtgs/Ep9cyE1CXW0Y7cP3Lo62v1Cy0t8p95T3hjUcCyHvVwvJU0wKSXDvPSM3f7Jmd/02COQYERLS8wtJABS79AH4+uf23d4hS8BETOoapMUidCBlV9ezeOQJFg5WDv2fOvLJ7ov/Lbl5eK9oU3RDUJxQIUvL31YyMBTKsqDpVtWNsQz/V5ZmlLbXp8CdMSSuiG6IcIjVLkAi6OYklC+imOZes0nSRmLHdr2XaXcUz2tRz/48w/3JmtFqfDalaBFOFQJon02ISYlsWD04ObHbMgZ4x4p2Jwa2HZU2URGlC9ATVc72KuEAbo8wDBEiS3PvRYuI+Fnmh7vz4x1DN/5/YcvfW/rE1WsHBdDwyAeUDFEudydp2oGwYUT/SHtDxFfEQmHpD9KzYgSJdIfZiaHbFFoaBfqxuTQgFBa3GbUYjLLoEAQ4ISReGrb4+XF8Xd7W17rODHJLKVdSLPUGJqAHuoc7zzVcW7GtXKaGpr64X3eE00Cmj28YVdjyTqcegA4xsFigVCIBPrn07/44FiMRaFPOJULZayFYzBtcCsQ/tvHLRPzzr7qLQ2JtQEdhG4H4iAX+64d7zrncNdSECnnFMucSYKdktXhaHFdvM6vtYGP4S1ZwUofrXvo2I0T7w60C8eF8sI0Q2KUKymSLTEhO2xOy5Mfn2/ru3lk64H9ldvRW6msoexYe/r2nM5mBTHBS0qFIrCNu9ArfG1ZTbUvwblgONSBB6Ea6DzV18d7BuZuQy1DwMzjRaAtBxKDixg3kCo+Grx5rqd1X3njc9sOxYyIIJJXmMmKqiRUMDSmicWO7hG058IRyss//kGGRiLmLitkbHtRLS1eAwe7wDLI1o5BIK+YGxwXUjGuK3yF1/uvTtqZDFXFGuYZFr6LRIXkqGyZQ85lrMtKv99zdSA9EglGNq9c96VYjUkFNK8WAW9q2nBkVrE5aneMXm+9cyVnO6vjNTtX1Sd4HHPDpAOlLE3iAkkZjhJKULHIYi6ih+OmYJZZp+6c/92V4+nMlOPmTE3P9JQ8tu7hr6/bVWAUCnBIM0P7clxPqYkX2l55r6ctZzlQJv6+997pSj67+5mmUC0HWqDchcaE0w3EDOsLSV4rh4mc5llG5qjTPtX7q0tvpHOTm1Y88OyOpx+6v3lGZn99/c0Tgx/BnlmatWlunlnTZPr1m6dPpVoY599s2H9ox7dXxSu7Z3uPnj/WaQ1CAqTKZLVtMe3asgBzKFEWpHJjZ1NtljNnc+Zw1TF4a8KZbUjWHdlxMKmLMquyhSUlr1/56x873hqYHmBIdciN88Q+f/uiT5tPb3/i0eSuEBG7qjf99OyL7ROpX17608pwAkj+Rrp7LjtbWVbsRwrkAn7dGu1+9eKJeT2ncW7jJPZRY220IkEifuhfHdhaUve2e3JwduSVyydBEgA+XFGbSuE34jLcWFgTdoWP0vtp1e77Gm9M97UOd7YNXJXKgWKuLqj4Wt3OIuEHrhGATFOy7vtbDoxnJrNCuX5ytqtlaHaovOg+v6QGJzmlhQCqVBEefqS+OWQEoNohEcPZ4X/0fhgs8HEBcxwlDGA75k5J165P1G0sXe1zecwXaaisWxVMwpgCQhWC0IRZ8o01e4AwHMIz1IK5cuzaX850nKuPVlWFEmk382bXaYs7m+ObDz7wZBhiYgpm1TSd6B1OdU/1nUy9H11TZFLz8mTnhdQl06HfWrt7f2JbQJugYRgqBhyLHFsUkINuRUHgPabsZm7wR6d/lpoeqiyK15ZW3BkfSs0MF4vSH+w53Byr80gJ+lVJ7bw12Pbzlj/Y2lobWxkOBW+M9k3MTO2tajqy+6kyEgOahjIHO64ng6CfKI4zF7iI5Sc0Sjamr0/ffvHyq13jvTknR4mvsjBxcNOBHfF1zNNoyN5SUW5OEPl2z9+Pd5wcmhnB8cGCGyvqD29+ssaMgvhAaactDqOPYISgZJCuCMaKAxQtQZB4HJvUM7dGUoMzI0Wh2Pr4mhIRhWQQ4GniA4qHyFAzUm5R3Z9L30rfyblWTXHlilApcDQD0kUqkdi7d0s5d7nozxvLy1vUZJ4L3EMOagQoSCD7Q4tKT28yT6RIB6ACjkY68/Stpx6BsnByUHaXMYpS7tOCPa+UKS7Vy7QX1Z4yXLhVeMo2rw69H5KXSctvHnfpRpQZ+h5XA70gquWCSs/fJrwiysMAjqj8PYZ5he/5tLBKM88DmlfRn32x8FDyZD/xSod5Sh+JdNHXhduM8mRK3qT3Di8MWut73Kfof795eg4S75Li3VM0RuqlND9LvLd0CWWmlt1Y0B+5/Ar4H43ls7CUwUXRihXhfeUUle89L4aL/tFP3WL+JcAAtngSeLNY4BQAAAAASUVORK5CYII=');
}

.icon-im {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAIAAABuYg/PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTQ1IDc5LjE2MzQ5OSwgMjAxOC8wOC8xMy0xNjo0MDoyMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTkgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MDVCQ0ZFNDZCMkY1MTFFOUFDMERDRkFFMDU2QTgxODAiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MDVCQ0ZFNDdCMkY1MTFFOUFDMERDRkFFMDU2QTgxODAiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDowNUJDRkU0NEIyRjUxMUU5QUMwRENGQUUwNTZBODE4MCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDowNUJDRkU0NUIyRjUxMUU5QUMwRENGQUUwNTZBODE4MCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PinUmNcAAAoASURBVHjajFfbTxzXGT+32Z1ll+WysMYLGLDBNji42DixYzuXBiVRU7VVVFVVb6nap7z0tX9D+9jHpH2oqjZKq6qK6yZNG1txfIlDYlMTO3bAgDGYhYXdBfY2OzPn0u+bWTtqbSkZrWB35pz5br/f7/sO1VqT/70MhT+aGkIpx5/GwHf4oY1mDH7ScBml1MAaojSFv7AEFzK4TXAlPCUPXfSRxmAfbGtYCrdpNG1M44bWijEWfEdH0CrFD9HoDLphHmFMPMK+ISxYGmyjaBstKRI4TwiDJZxB0IpAJIF7wQdcuO+uClY9dD10D91GP/WDhEnNKWEaVjKMjrIgr0YbTgJXKNpsOKeoUeAce5Sph9NogvSjCdhCCMffGqqiDK3Qes7ZrtWrvu/6SgohotFYym5JWvEmGhFYUNhuwEum0bEvTyMNSqZ0WGjYYxyqV2vFy4tXrxXml7zcprNddyu+gZrx1nhL2u7ojXQeyhw41D3SLpJcG0GZhQHzR0SmjA5DCWOCxEhIi0aAaKIWvOzZ5clz85P5Srksq83RWDLWHI2ICGOSkJLrlsqbVNJYLNad7JrYc/zprsMZ0QbVJJxqZsI3I2oYRorGmL6PeA2WtEXgRczn5sONa2/+562FrSUq+EBkx+N7xna37ko3pyLRKDVMad9xq2vlzc/XF6/cu5HzCzEd+eHQi98/+A2qOIG0QnUxQwE6g9xizR5Ehi4EaK5y+c7y5BvTpwr1fG8i88LeE8/0HusWSQsBxRp11QZACRu3lbvorJ6Z/XCtnP/p2DdHmgfuJylAswbIGGQN4lzpBrdoI2TF9D+XJ1/79G9VtzK+Y/THoy+NNQ/4hliUKqoEZgd4pANSg28ACAFGpfY3vVp7tBnzRKUJCgfLtJacW2DScCZCSwghE1LR/2hr9g9Tp6u6fqLniZ+NvTxotRsjcZ0WjAPuAfRB3inUQaPDYEgTYXjKToI7UGlJ6dXcp33JTMbuoFyE6dJKsTAmjBq4TOiKKv312tsFuX4wNfTK176TibT52oP9jPAadbdl2Ydy0YBIhnhEbhC3yuomoAfRCqJ1GT09c+VXZ187ffv9KnVgrTFAHNSFUCtIyEqX6ovZ67fyt1uiiZeHn90VbWMazVASLXjVP9569zcXfp+TBdIQLrXgrv/6zG//MXdxWzohswA14LVrnGqcnFn6+FbpTsD7UHpghWmwGFzeMt57sxcAkE/sGj/ceQAUIoqSwiE3eel+cufa5fz05bVpH0NiLjP/nr98tTxzceGaQ12f+qjITNiaTuwbH2jvy8nts59fhsWmQTOsdkBghYanCzfXnPVWK/ni0LO2ESBxGpQoWDvYlDqyb58Xke/duZTVJSXUfG1xcvETcOf50RMdokUhLyE4SJdpZy3PDzzV7PP5zbsrtc2A5SyMDNigge+ecWeXZzyvPtK5tyeaVqhwLISWS/xtUjnce6Qj2nW3mJ+cny6y+uS9G6v1yt5kf1+6uy4BrQxpTBBBljFHWvo7Y23LpQLYYzQAPGEi7CDgvUflWr3gGbU73Z+gUUGDdkFp3i++NXt+vnIPwGhsSAM5n52cys8WRUkkRUVX35x6u0naX9978mjbfk7RPaBwqinZ0Zqar62v+IW6lhEqIMkCiBAEoLb9at4rE2Vlmjpsw7jB1CoqN2qb52YurZttanH0zBIzpaxHlpiRVJhc3Vsrrkcl39maPpQa4H4EQOcT0szsHXYrvGe9UvApjSI3dBAZ9BTGfKnBBWYbG0FKlFLccMVZb0vfq8deWamtcEyU8Wz27uKV5erGka6RY62DXNsVKhPUGssM2djGqNI6wqEZMdu2tSAl5aj73QrIqhuYhMpqyo1FUFyUYX6gDjSqrKe6D/nkEGCdg5IR+Vnx7tpW4bHO4e/2vADvdxiJIEMkNQL85qgNgGgGqusZHwtPUCc1PkatQyZEGKgK8b16xQCLZUglbgQEn6fVurEo8yF1Na18aHYgibKWZSUoD3S+OBMJIyIE3wdwQ/xyWvcc6B4xFkNLGjEvHqiqHbGSzXFSNFtOSRHL0uAPkI+u1jb/dP3UqruhecQQH16XLW84gnywdHU2v8BAzaVpqrOXhp8+vvOxiIY2xl1KS6SWq2/DmzNNnRbIIqJUCYapwskiRuz+aNcUv3Vrda7WN5GEamrOuap6W58tf5pVBcU4DAhcGZUQrk1XatVcbo1Zhknfdshj6cHjXQc1VBWITdRaeTVb22jiiQG7CzQIBBUS3ejUQS9nI117/zV/6fbm3Ly/eEjsCaer3pb0L597teRWQN2hrDVa/svS+5+vL03sfvy5tsMolJrYJtLT2U1RbgGxyjPyRn6uUCr2Jnb2pzLYsxnUA1UfxEsB/mxtjab39bVkZrbmz939cP9wd5REAJBN1BptHwpGJw71cHj54tq1JXdlX6LvqZ3jkJzAY+jFVEoUHJCSHK1eWJ6SjAx37+20WoHqUG2Bo1JjwsFpqs00nRg5Qjm/cvtGtpwH8GFZA6XxqPEC8QbYWsq2VRzhgs+F1J7SLvQdj6P8aSrPzV2aKSx0iLZndx+Lguxh80QjIpgsWTgvgucnUwdud8ztSe3qjqcogI4HegCgDxoDpIlpa6LnyYNtoyOdPYHGgCZIEAdlTATsCHqxcP30wgdA0xd2Hxtt6qcKYlU4ExATjgXgocaWQzQQpFgrt8QSkBVBYsHYAw9YsBr+KwlMN9CIuY1OgL8+Vp8ihWBivLJ16/WpPy+VsuMdw784+pMenkb2AgOU5owF0MdMQmIRJSCJ6Xh7MP16QO0ld7ui/P5YJoIYx5YLAOCQWAQdTp2AZ4le+C5R51evvzl9aqW6NtjS94PRb++ItCO7kOBB4zSBgqCyAwmD9saUqDMPICa0nXO9333y93vOysTgsZP9R5LctimPKRgAuNS4D2Yol0nH1O9V8+/MXbiUnXbqpX2pgZ+Pfm8kOSQQBj4wWmEvYI2JOGyj98dx5lFf4Ehi3dy6+/rHb8w4d5Tx0om+J/vHhuLdvckOO5owhHtKOk5lqZKdKt6cXpmpejVIznjX2I8Ofmt/PEPN/w319Ivx+4E9yGo4IsBjVzs5uXF2/qPzi1NLzpasuzEr2hJPJOMJ8MrzvKrjlN3NKtSWNu2P904MHj7ZN95Gk6hzVHyVI5NGrAMzCZ4njJZVVsv6xY/u3rydu3OvkgP4lL0yiGvEskD3UvH0zmTHWGb46M4DnSxhSVR0oB4j1lc7n8FUicfAYMBDYvk06GMwaKxXtoputezX4CYMrM3R5mY70QmnC4BjcLJCRPD7p7kvN4ajsgrOkRw7HcbHYBjB22gYzLMw55BvhS3K4FMewAyehWdVsMXMV4osPLFipySNk8EXh09qggkQwY5vBTLiwApnUOCKQpVGSjROrQ9f/xVgAFJz6vk8LIIeAAAAAElFTkSuQmCC');
}

.icon-il {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAIAAABuYg/PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTQ1IDc5LjE2MzQ5OSwgMjAxOC8wOC8xMy0xNjo0MDoyMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTkgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MDVCQ0ZFNEFCMkY1MTFFOUFDMERDRkFFMDU2QTgxODAiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MDVCQ0ZFNEJCMkY1MTFFOUFDMERDRkFFMDU2QTgxODAiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDowNUJDRkU0OEIyRjUxMUU5QUMwRENGQUUwNTZBODE4MCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDowNUJDRkU0OUIyRjUxMUU5QUMwRENGQUUwNTZBODE4MCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pta/nO8AAAkLSURBVHjanFftU1TnFX9e7t13FnZ5EQQBFUHYRUOTNBptYkwVTWJqMk50JrHph7Yz/dS/ot+TfupM2jixNq1aG9MmGWvUtGNefEUQFREtYhZhWWBZdtd9uc9Lz7l3QUim2PEOs/dy733OOc/v/M7vnEuVUmTJQ1NCNV7YZw0HpRR+8Q5e4SNF8A7lpTf/12Es7clZDP7sE/yjKFxrxZjhRKmpsuNgeF9qOD+mM8eHvQ8wBxdgDTcDhhU8pAx3xDlclyJb0tNSzhxP+KvxByw+INZ0MT2ZnrGsQnUwXO0PBbhJFaMIIEMYiYKt2RAsQNOOwEGo5GzR45IPYieTWaQ4Y2X6xgd7J4fuZGKxqXuWyNeX17WEVnRVtT5R3xE0yk3t5oQzwrlW3wG/lF1iuyxBj4eklEsAhwqujawSsezYUOZOT/zGrcm76Xxm1spzaVT5Q9zF4jOJvBIBMxB2B5pr6qL1nR3elSsrasqJhynYJYVcgjNOtIStU0T/oTNAiSliUT3LrNFCvH9scCBx+97kyFhmSlDpNTwV1B+ta4vWtjdVrDAM993pWN/UwODowP3ctOKaSBJ2B1dX1LdXrYk2tTZ4lwWJy6s9Sklaoix76ExqBTu7XRw/3Hfi+tRQ0popSuFT7obKusayho6a1khtax0vLzc8GCvB5TliJWRqIDlyZaQ/lhkH9xmRMz3eIHe3lq3Yvf7HzwQ7AFgJ29LAYf7QGVB6hhZ+33vkH8On3YZZ563qrFvbGW5rC6+q99YYikikIrwpABSXxhtgSDDClISr0WLqzvTwQGqkd7R/rJDIW8Wob+Vvtv46oL2aUac0FxCE67yVG0uNu7jxauuLr7dsr+QBt3ZpiEwCBvBcmlhbBnEKQTPICoO8IPd1oxFqqg3+sHbtnpbnT01dOHju43huZraY9bt94IlRpu3yMOaKF9YbQFxDkFpXuJqHTMRagkHbOuCAGFAGyyANWN8a6GczVmM48JZRBn8k0BxYwQUHogDXkAqwRAliwzi3M7QIa5TmRFChqSDEVPbuMQzFoVoYnMEfhintEodUSCwjSYscQBYmMcFmEYBghiMuNje0kzDikKRUGUxL3AY1JTeAtPgSAAa2sW6x7nAxYkgBGBQRCW5JHiv60vT1d8/8oXfsBqSVEzejpkEN6qx15GyhM9gSWlZacAmmZEkN4aml596xL9i81lJiKNAMj/FlcvB3l498PdGbsOJwR9o5USgtWGvKlpTFzlBuFAZCUPcks2sP1EebttaiFmm8kIgewAcHITmmzk73vHfxWGImu73zhQ2NTwL0hhJaWGBOSMgagkJLoT/MGXMaB6TVuQNEhxizpJCWuWU84NIuuMmBnUoxOCmW1fL8zNUPLn2UmE2/0r7lrej2cullUAyINqaUgydlKyYl9Ds5U6VehV5ByRVhWaKOXfnsnS/ev5AcQPlxgsKFKkPFN6megxc+up9JvNq+eX+ku0J5mENqAJLJxcL4PdXnlLtMH4SSFwWOZY8bTeSmrk0PxS5NFZ7Sm8LrPNi3dJGocxN9B/qPJtLJne1b90V2hKS/yCyOCdM5kQdUwJpBTdwmCmGpz5V2pkBVuas6ECoIa7KQKtAisKiCm3u7ulcta4zlxt47/+GX8R5wA4bOjvd9cPl4IpV6ee1zb0d2hWQQDCDvNZQ9Saani9oymeni5sIuswBGSr3EXBaohEoazSbSED0UliJNnoafb9jbUdYcz08e6Dv+TbL/ZLL//Qt/S2Syuzu63468VqX8AhkDsAtba8XIZAzwq6+oAd/ahh1U93swKqM+VOd1eb+djMdnk9VlAaxOQp52r/Y9+9N3zv9peGr0t5cPWUTlZeG1yM43W7dVaFMoyZkBxaI09pYxK3NrfMSQ8on6VX5qOP0EKG7ohdQH7jPdGl7VUrEyUZj4OnYxQwSoiLJjWuNu+uWGfW1VDZn0lJVOdXdseDPyop9IUA3QIajEIrYs6CfkYvzqWGa81izv8DcbsCtMFjP0Yhg1YqahiWxcHuXMPDNy4caDQaAC5wLYZSi23rP6V0+9tbmma1fzc79YsztI3Zy5FTOBMCYVhkBZian4p7e/yiqra3l0dVkDxe4iQCfmvcwJsV0M8HDL6mfOxntvJAYP931S/2xNLak2EQcK5jr8Tcs3/cxFXT7qYlIKAnyD/RQlMI/xFM0cvnnyVvJuna9689ofmdSn0CYuVao08s0TBIsPfFbx0Bvt3ZXe8LXJ4T/2fTatMkKhDEAZ54tFP/X5iRvRZThyIIsZLxDjPksfGfr89H/O+5n79XU72spW2v0SYISo9HzBzTnD9gkM1R5tbK5Z95O12zjxnrpz7t2LB29bE0UsaMUN6GYgIFjfQAZYALJmUT4qEwf6jx26eRKa+9bmjdsaNwa0m2FLALAMaDG2oNCFnVojGtpWZEonWfrToX//feDzZPHBisrGPZEdm6o7y0DOcabgOMlo1HdBrSuzQ4f6Pu6fHnBTz0stW/Z17KrSZU5/YArfRDXWzNHiuemqNFuDzADdaUFDSgpfjJ47OnBmZHaqwuN7qWXjrjVba3glxzEMHMlZWjhz+6u/3DwdexBv9IZfjmztXvV8mAQhYpAIDlMdYM2cIZqXdGvhrO9ooxMFkFqQzK3svaPXT/ckBgvFzA9qo/s797R7G4VB7+cn/tz38dnRKzmmI+Hm/dFXusIRj9S2hGJCsakj9bW9DbVounIwXTiqlq6ZnhDpE3f+9dfBf6ZEdrm3bveTO4LUd/z6qeGJb70u9wtNT+/t3FHLwxpzXvrmcKwt+mZwpopHfsXAm1mVv5wc/PDqieH0PcPUptZpSy13L3sj2r2loctPPHbTsnNBlxr3H+kMOcXsqWDYmjh27cTFWI+lC5Hq9j1dO9u8TR67zzllND/rP6YzbOuQBGhuDAmYYdlbyfGMEOtDDT7uMTV38MHOQ+1hasnvmP8DRqAupwUpvBRFTtqzDvZZHCaJ3atwhsSy43Tpj8FHOHMyAX8COKacBgiblRZhprK/lghoFmPEaeN0frZ5nC9PzXCABJsGetX2TIDa5bbtojQga0FRGJIXu/tS1v4rwACN7xsvhgJmAQAAAABJRU5ErkJggg==');
}

.aui-palace {
    padding: 0.5rem 0;
    position: relative;
    overflow: hidden;
}

.aui-palace-grid {
    position: relative;
    float: left;
    padding: 1px;
    width: 20%;
    box-sizing: border-box;
    margin: 5px 0;
}

.aui-palace-grid-icon {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.aui-palace-grid-icon img {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

.aui-palace-grid-text {
    display: block;
    text-align: center;
    color: #333;
    font-size: 0.85rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 0.2rem;
}
.aui-palace-grid-text h2 {
    font-size: 0.8rem;
    font-weight: normal;
    color: #666666;
}

.aui-flex-title h2 {
    color: #333333;
    position: relative;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.aui-flex-title h2:after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0.2rem;
    left: 0;
    width: 0.25rem;
    height: 75%;
    border-radius: 1px;
    background-color: #3eba62;
}

.aui-list-theme-box {
    padding: 0 10px 1rem 10px;
    overflow: hidden;
    position: relative;
}

.aui-list-item {
    width: 31.333%;
    float: left;
    margin: 0 1% 0 1%;
    border-radius: 5px;
    background: #fff;
    display: block;
    overflow: hidden;
}

.aui-list-theme-img {
    height: auto;
    width: 100%;
    position: relative;
}

.aui-list-theme-img img {
    width: 100%;
    height: auto;
    display: block;
    margin:0 auto;
    border: none;
}

/*@-webkit-keyframes myfirst !* Safari å’Œ Chrome *!*/
/*{*/
/*    from {width:80%;}*/
/*    to {width:100%;}*/
/*}*/

.aui-list-theme-message {
    background: #fff;
    padding: 0.2rem 0 0 0;
    position: relative;
}

.aui-list-theme-title {
    color: #333333;
    font-size: 0.85rem;
    margin: 0.3rem 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    font-weight: normal;
    text-overflow: ellipsis;
}

.aui-list-theme-message p {
    color: #969696;
    font-size: 0.8rem;
    text-decoration: line-through;
}

.aui-list-theme-message span em {
    border-radius: 2px;
    color: #ff2826;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: normal;
}

.aui-list-theme-message span {
    color: #ff2826;
    font-size: 0.9rem;
    font-style: normal;
    display: block;
    font-weight: 600;
}

.aui-list-theme-message i {
    color: #ff2221;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: normal;
}

.aui-car-icon {
    width: 28px;
    height: 28px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.aui-title-time {
    font-weight: normal;
    font-size: 1.1rem;
    color: #e91b4c;
    line-height: 1.4;
    float: left;
}

.aui-fleTen {
    padding: 1px 15px 8px 15px;
}

.time-item span {
    background: #000000;
    color: #fff;
    font-weight: 400;
    width: 22px;
    display: block;
    float: left;
    height: 18px;
    line-height: 16px;
    text-align: center;
    font-size: 0.85rem;
    margin: 3px 3px;
    border: 1px solid #323232;
    border-radius: 3px;
}

.time-item em {
    font-style: normal;
    color: #333;
    float: left;
    line-height: 20px;
}

.aui-fl-time {
    float: left;
    font-size: 14px;
}

.time-item {
    float: left;
    padding-top: 0;
}

.aui-limit-time {
    width: 150px;
    margin: 0 auto;
}

.aui-flex-sel {
    padding: 0;
}

.aui-time-img {
    margin-top: 0.5rem;
    width: 105px;
    padding-left: 1rem;
}

.aui-flow-list {
    border: 1px solid #eeeeee;
    border-radius: 4px;
    margin: 0 1rem 1rem;
}

.aui-news-text h2 {
    color: #fe6442;
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}

.aui-news-text p {
    color: #989898;
    font-size: 0.8rem;
}

.aui-flow-list .border-r {
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.border-f {
    border-right: 1px solid #eeeeee;
}

.border-b {
    border-bottom: 1px solid #eeeeee;
}

.aui-flow-list .aui-flex {
    padding: 0;
}

.aui-news-text {
    padding: 0.9rem;
}

.aui-news-img {
    padding: 0 0.9rem 0.5rem 0.9rem ;
}

.aui-list-theme-one {
    background: #fff;
    border-radius: 10px 10px 0 0;
    margin-top: -0.8rem;
}

.aui-sol-list {
    background: #f5f5f5;
}

.aui-list-theme-two .aui-list-item {
    width: 48%;
    margin-bottom: 0.5rem;
}

.aui-list-theme-two .aui-list-theme-message {
    padding: 0 0.8rem 0.8rem;
}

.aui-list-theme-two .line {
    color: #999;
    text-decoration: line-through;
}

.aui-list-theme-two .aui-car-icon {
    right: 0.8rem;
    bottom: 0.5rem;
}

.aui-list-theme-two .aui-list-theme-title {
    margin-bottom: 1.2rem;
}